body {
	background-color:#FF0000;
}

	p {
    font-family: "Arial";
	color: #FFFFFF;
	margin: 50px;
}

h1 {
	margin: 0 auto;
}

.button{
	display: block;
	height: 100px;
	width: 300px;
	background: #FFFF66;
	border: 2px solid #000000;
	border-radius: 50px;
	
	color: #FFCC00;
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}

a.button {
	text-decoration: none;
}

#map {
	height: 500px;
}