body {
	background-color: #FF0000;
}

p {
	color: #FFFFFF;
	font-family: "Arial";
}

.button2{
	display: block;
	height: 100px;
	width: 300px;
	background: #FFFF66;
	border: 2px solid #000000;
	border-radius: 50px;
	
	color: #FFCC00;
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}

a.button2 {
	text-decoration: none;
}